<div class="education-container">
    <div class="education-item" [@fadeInOut]>
      <h3>ICT Engineering study | Sep 2021 – Present</h3>
      <p>Higher School of Communication of Tunis (SUP’COM)</p>
    </div>
  
    <div class="education-item" [@fadeInOut]>
      <h3>Pre-Engineering study, MP | Sep 2019 – Jun 2021</h3>
      <p>Preparatory Engineering Institute of Sfax, Rank 182 over 1700 candidates.</p>
    </div>
  
    <div class="education-item" [@fadeInOut]>
      <h3>Baccalaureate in Maths | Sep 2015 - Jun 2019</h3>
      <p>Pioneer School of Sfax Admission in the Baccalaureate exams with good honors.</p>
    </div>
  </div>
  