<div class="experience-container">
    <div class="experience-item" [@fadeInOut]>
      <h3>Web Development Intern at Primatec Engineering | Jun 2023 – Jul 2023</h3>
      <p>
        Development of a web application that allows users to authenticate with
        the Jenkins server to generate a table-based report on builds executed on
        a specific Jenkins node during a specified time range.
      </p>
      <p>
        Keywords: Spring Boot, Angular, REST API, RestTemplate, Git, Github,
        Jenkins, CI/CD, Postman, Agile Development, Tomcat server.
      </p>
    </div>
  
    <div class="experience-item" [@fadeInOut]>
      <h3>Machine Learning Project at SFM technologies | Jan 2023 – May 2023</h3>
      <p>
        A project that focuses on effectively managing and controlling water
        consumption in a building based on time series data.
      </p>
      <p>
        Keywords: Data Preprocessing, Data Visualization, Consumption monitoring,
        Profiling, Anomaly detection, Disaggregation, Time Series Forecasting.
      </p>
    </div>
  
    <div class="experience-item" [@fadeInOut]>
      <h3>Computer Vision Intern at Anavid | Jun 2022 – Jul 2022</h3>
      <p>
        Implementation of a model based on Transfer Learning to detect faces from
        the surveillance camera.
      </p>
      <p>
        Keywords: Colab, GitHub, OpenCv, YOLO, Deep Learning, Data preparation,
        Data augmentation, GPU acceleration.
      </p>
    </div>
  </div>
  