<link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/devicons/devicon@v2.15.1/devicon.min.css">
<div class="user" [@fadeInOut]>
    <!-- Technology Stack #1: Languages -->
    <div class="tech">
      <h2>Languages</h2>
      <i class="devicon-python-plain-wordmark colored" data-tooltip="Python"></i> 
      <i class="devicon-java-plain-wordmark colored" data-tooltip="Java"></i>
      <i class="devicon-javascript-plain colored" data-tooltip="JavaScript"></i>
      <i class="devicon-typescript-plain colored" data-tooltip="TypeScript"></i>
      <p>My favorite programming languages.</p>
    </div>
    
    <!-- Technology Stack #2: Front-End -->
    <div class="tech">
      <h2>Front-End</h2>
      <i class="devicon-angularjs-plain colored" data-tooltip="Angular framework"></i>
      <i class="devicon-html5-plain-wordmark colored" data-tooltip="HTML5"></i>
      <i class="devicon-css3-plain-wordmark colored" data-tooltip="CSS3"></i>
      <p>My preferred technologies for front-end web development.</p>
    </div>
    
    <!-- Technology Stack #3: Back-End -->
    <div class="tech">
      <h2>Back-End</h2>
      <i class="devicon-spring-plain colored" data-tooltip="Spring Boot"></i>
      <i class="devicon-mysql-plain-wordmark colored" data-tooltip="MySQL"></i> 
      <p>My preferred technologies for back-end and database.</p>
    </div>
    
    <!-- Technology Stack #4: Tools -->
    <div class="tech">
      <h2>Tools</h2>
      <i class="devicon-github-original colored" data-tooltip="GitHub"></i>
      <i class="devicon-git-plain-wordmark colored" data-tooltip="Git"></i>
      <i class="devicon-visualstudio-plain colored" data-tooltip="Visual Studio"></i>
      <i class="devicon-intellij-plain-wordmark colored" data-tooltip="IntelliJ IDEA"></i>      
      <i class="devicon-pycharm-plain-wordmark colored" data-tooltip="PyCharm"></i>
      <p>My favorite tools for version control and code editing.</p>
    </div>
  </div>
  